<div class="space-container">
  <div class="donor-form-container m-4 px-3 pb-4 mx-auto text-center">
    <img src="assets/images/choose-flow.svg" alt="" srcset="" class="logistics-logo">
    <div class="mt-5">
      <p class="text">
          Thank you for your declaration of donation! Your reference ID is:
      </p>
    </div>

    <div class="mt-5">
      <p class="ref-id">{{ ref_code }}</p>
    </div>

    <div class="mt-5">
      <p class="text">
          The Office of Civil Defense (OCD) will contact you for validation and assessment. Once approved, the report shall be
          published in FLAGexpress.ph
      </p>
    </div>

    <p class="text mt-4">
      For inquiries or follow-up, you may call
      <a href="tel:8-912-2424">
        <u>8-912-2424</u>
      </a>
      or send an email to
      <a href="mailto:ndrrmcdonations@gmail.com">
        <u>ndrrmcdonations@gmail.com</u>
      </a>
    </p>
    <button mat-flat-button class="w-100 my-2 mt-3 border border-dark btn-home" type="submit">Return to home</button>
  </div>
</div>
