<button class="close mb-4" [mat-dialog-close]="true" mat-button>
    <mat-icon>close</mat-icon>
</button>
<div class="container">
    <div class="logo">
        <img src="assets/images/flag-logo.png" alt="" srcset="">
        <img src="assets/images/flag-logo-horizontal.svg" alt="" srcset="">
    </div>
    <div class="label">
        <h1 class="label">Privacy Policy</h1>
    </div>
    <div class="update-text">
        <p>Updated last May 11, 2020</p>
    </div>
    <div class="scrollable-text">
        <h1 class="text-light-purple">
            FLAGexpress.ph DATA PRIVACY POLICY
        </h1>
        <p>
            The Department of Information and Communication Technology (DICT), in coordination with the Office of Civil Defense (OCD), 
            and DevConnect Philippines, Inc. (DEVCON) respect your right to privacy and want you to understand 
            how we collect, use, and share your personal information. This Privacy Policy covers our data processing practices 
            and describes your data privacy rights under Republic Act No. 10173, otherwise known as the Data Privacy Act of 2012 ("DPA").
        </p>
        <p>
            This Privacy Policy applies when you visit or use the FLAGexpress.ph.ph System ("FEx"), 
            or related services offered through FEx The FEx comprises of FEX Donor website and OCD Admin site, 
            developed by DevConnect Philippines Inc. ("DevCon"). These platforms are designed to schedule or report in-kind 
            domestic donations to the office of civil defense, ensuring the transparency and compliance of the Administrative Order No. 27 
            during Enhanced Community Quarantine (ECQ) (the "Services").
        </p>
        <h1 class="text-light-purple">
            What Data We Collect From You
        </h1>
        <p class="text-light-purple">
            The donation data collected from you when you apply via FEx Registrations are the following:
        </p>
        <ul>
            <li>Full Name</li>
            <li>Mobile number</li>
            <li>Email address</li>
            <li>Full address</li>
            <li>
                Donation Details
                <ul>
                    <li>Category</li>
                    <li>Quantity</li>
                    <li>Estimated Monetary value</li>
                    <li>Estimated weight</li>
                </ul>
            </li>
            <li>Recipient</li>
        </ul>
        <p>
            In addition, Google Analytics automatically gathers the HTTP request of the user, browser/system information and first-party cookies. 
            See details of data collected by Google Analytics in this <a href="https://developers.google.com/analytics/resources/concepts/gaConceptsTrackingOverview">Google Analytics Guide</a>.
        </p>
        <h1 class="text-light-purple">How We Collect Data From You</h1>
        <p><strong>Analytics</strong><br>
            We use Analytics tools (Google Analytics, Power BI/Kibana, Jupyter, DBeaver, LibreOffice, 
            DbVisualizer, RStudio, CartoDB, Einstein Analytics, Google Colab, QGIS, ArcGIS). 
            These tools will help us analyze your use of the Services, including information like, 
            how often you visit, events within the Services, and usage, performance data. 
            We use these data to improve our services, 
            and better understand how the services perform on different devices.
        </p>
        <p>
            <strong>Why We Collect Your Data</strong><br>
            We use your data for the following purposes:
        </p>
            <ul>
                <li>To verify your identity and travel purpose when you apply for registration;</li>
                <li>To issue a valid QR code that is electronically tied to your personal information 
                    and that will facilitate your travel through checkpoints and quarantine areas;</li>
                <li>To ensure the accuracy and integrity of your records 
                    every time your FLAGexpress.ph QR Code is scanned at a checkpoint;</li>
                <li>To facilitate communication with you;</li>
                <li>To provide adequate security against fraud and abuse;</li>
                <li>To Measure website traffic and improve the performance of the FLAGexpress.ph Platform.</li>
                <li>To improve and update the Platform and its Services; and</li>
                <li>To provide safety and security, as may be required by law or as may be necessary.</li>
                <li>To restrict the installation of Checkpoint Apps on 
                    specific devices issued by DOST, hence IMEI is collected.</li>
            </ul>
        <p>
            <strong>Who We Share Your Data With</strong><br>
            We share the above mentioned personal information with our third-party service provider, 
            DEVCON as the developer. These also include authorized personnel who are tasked to review, 
            verify and analyze the information you provided in FLAGexpress.ph.
            Other third-party service providers we share your information with and the specific information 
            they have access to are the following:
        </p>
        <ul>
            <li><strong>Semaphore</strong> - the SMS sending provider or FLAGexpress.ph to which we share your Mobile Number.</li>
            <li><strong>Mailgun</strong>- is the email sending donation updates for eventual enhancements</li>
            <li><strong>Google Analytics</strong> - is the web analytics service provider of FLAGexpress.ph. 
                It collects HTTP requests of the user, browser/system information, and first-party cookies and 
                is transmitted and stored on Google Servers. By downloading and installing an add-on by Google 
                (located at https://tools.google.com/dlpage/gaoptout), you can opt-out from this 
                collection of information.</li>
            <li><strong>Amazon Web Services</strong> - is the cloud server provider of FLAGexpress.ph 
                where all data and running apps are stored.</li>
        </ul>
        <p>
            Additionally, in the course of the rendition of services, 
            your information may be shared with relevant government agencies assigned by 
            the Office of Civil Defense (OCD). OCD is the responsible agency for verifying, validating, 
            and approving donation reports. 
        </p>
        <p>
            Note that your personal identifiable information is only shared in cases where disclosure 
            is mandatory under relevant laws or immediate medical attention is required or instances when you 
            agree to such disclosure.
        </p>
        <p>
            We will never share, sell, or otherwise disclose your personal information to third parties 
            outside of those enumerated above, except in instances when you have given your consent to such 
            transfer or disclosure.
        </p>
        <h1 class="text-light-purple">How Your Data is Protected and Retained</h1>
        <p>
            We use appropriate security measures as listed below based on the type and sensitivity of data being stored. 
            To protect against unauthorized access, alteration, disclosure, or destruction of your personal data 
            that we collect and store, the Platform applies the following appropriate security measures:
        </p>
        <ul>
            <li>Vulnerability Assessment and Penetration Testing;</li>
            <li>Security headers for all FLAGexpress.phApps;</li>
            <li>Communication security (SSL/TLS, HSTS) to encrypt all network communications;</li>
            <li>Role-based Access Control configured in the backend;</li>
            <li>Developers are aware of data privacy and security measures in place.</li>
        </ul>
        <p>
            Note, that we shall only retain your personal information in the course of operating 
            and maintaining the FLAGexpress.ph platform for the duration of the Enhanced Community Quarantine. 
            <strong>When the Community Quarantine is lifted, we shall delete all 
                personal information that is stored</strong>, 
            shared with Government Agencies and third-party service providers, and ensure that these are 
            destroyed so as to prevent further processing by any other entity.
        </p>
        <p>
            No copies of your data shall be shared with the Office of Civil Defense, any other government 
            agency or instrumentality, and third-party service providers. The data privacy law forbids other 
            entities and even government agencies from using your data for any other purpose, 
            without your consent.
        </p>
        <p>
            As with any internet-enabled system, there is always a risk of unauthorized access, 
            so it’s important to protect your device and to contact us if you suspect any 
            unauthorized access to your device.
        </p>
        <h1 class="text-light-purple">Your Data Privacy Rights</h1>
        <p>
            In accordance with the DPA, we are committed to upholding your rights in relation to 
            your personal information.
            <br>You have the right to request a copy of your personal data, 
            to correct or modify or erase your personal information from our systems, databases, 
            and processes, You also have the right to withdraw your personal information from the Platform, 
            including the option to delete your account.
        </p>
        <h1 class="text-light-purple">Contact Us</h1>
        <p>
            If you have any questions, concerns, or disputes regarding our Privacy Policy, 
            or should you wish to get in touch with us to exercise your right to access your data, 
            withdraw your consent to the collection and processing of your personal information, 
            or to implement a correction, modification, or erasure of your personal information, 
            you may get in touch with us through the means provided below:
        </p>
        <p>
            <strong>DICT</strong><br>
            ocd@FLAGexpress.ph<br>
            C.P Garcia Ave., Diliman, Quezon City, Philippines 1101<br>
        </p>
        <p>
            <strong>DEVCON</strong><br>
            dctx@devcon.ph<br>
            Amihan Innovation Center, 26th Floor Orient Square Building Rd 1605,<br>
             Emerald Ave, Pasig, Metro Manila<br>
            For more details about FLAGexpress.ph application, e-mail at inquiries@FLAGexpress.ph.ph.<br>
        </p>
    </div>
</div>