:host {

  .btn-green{
    color: #ffffff;
    font-size: 16px;
    font-weight: bolder;
    background: #71B406;
    padding: 10px;
    &:hover{
      opacity: .9;
    }
  }
  .btn-green-outline{
    color: #71B406;
    border-color: #71B406;
    font-size: 16px;
    font-weight: bolder;
    background-color: #ffffff;
    padding: 10px;
    &:hover{
      opacity: .9;
    }
  }

  .page-header{
    position: relative;
    padding-top: 15rem;
    padding-bottom: 15rem;
    color: #ffffff;

    .page-header-title{
      font-weight: 600;
      font-size: 40px;
      line-height: 47px;
      display: flex;
      align-items: center;
    }
  }

  .background-gradient{
    //background: linear-gradient(122.64deg, rgba(127, 8, 255, 0.5) 39.21%, rgba(127, 8, 255, 0) 122.78%), url(IMG_20200421_102951.jpg);
    background-image: linear-gradient(122.64deg, rgba(127, 8, 255, 0.5) 39.21%, rgba(127, 8, 255, 0) 122.78%), url('../../../assets/images/FLAGPic1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  section {

    .section-title{
      font-weight: bolder;
      font-size: 30px;
      line-height: 1.2;
      display: flex;
      align-items: center;
      text-align: center;
      color: #311B92;
    }

    .img-size{
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin-bottom: 10px;
    }

    .section-headline-subtext{
      font-size: 14px;
    }

    .about-text{
      font-size: 18px;
      line-height: 2;
    }
      .partner-logo{
        max-height: 150px;
        object-fit: contain;
      }
      
    .partner-content{
      margin: 0 10px 30px 10px;
      .partner-text{
        margin: 20px 0;
        font-size: 14px;
        line-height: 117.2%;
        text-align: center;
        letter-spacing: 0.045em;
      }
    }
  }

  .bg-report{
    background-color: #F2EFF9;
  }

  .slick-dots-number{
    color: #111111;
    cursor: pointer;
    span{
      padding: 8px 12px;
      &.dots-active{
        color: #693CB1;
        background: #F2EFF9;
        border-radius: 2px;
        padding: 8px 12px;
        cursor: pointer;
      }
    }
  }

  footer{
    a:hover{
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
