<footer>
<!--  <div class="row justify-content-between col-sm-12">-->
<!--    <div class="col-sm-4">-->
<!--      <p class="mb-0">-->
<!--        For any issues or concerns,-->
<!--      </p>-->
<!--      <p>-->
<!--        please contact <a href="mailto:flag-admin@dctx.ph">flag-admin@dctx.ph</a>-->
<!--      </p>-->
<!--    </div>-->
<!--    <div class="row align-items-center">-->
<!--      <p class="mb-0 text-uppercase">-->
<!--        Powered By-->
<!--      </p>-->
<!--      <div class="mx-3">-->
<!--        <img src="assets/images/dctx-logo.png"/>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <!-- Grid row-->
  <div class="row py-4 d-flex align-items-center">
    <!-- Grid column -->
    <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
      <p class="mb-0">
        For any issues or concerns,
      </p>
      <p>
        please contact <a href="mailto:flag-admin@dctx.ph">flag-admin@dctx.ph</a>
      </p>
    </div>
    <!-- Grid column -->
    <div class="col-md-6 col-lg-7 text-center text-md-right">
      <div class="row align-items-center justify-content-end">
        <p class="mb-0 text-uppercase px-0 col-sm-3 col-md-5 col-lg-2">
          Powered By
        </p>
        <div class="mx-3 px-0 col-sm-3 col-md-5 col-lg-3">
          <img src="assets/images/dctx-logo.png"/>
        </div>
      </div>
    </div>
  </div>
</footer>
