<form class="donor-location-form" [formGroup]="donorRecipientForm">
  <p class="text-light-purple heading">Located on...</p>

  <div>
    <div class="form-group">
      <label>Date</label>
      <mat-form-field appearance="outline" class="w-100 pb-0">
        <input matInput [matDatepicker]="picker" formControlName="donated_on">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

</form>

<div class="form-group">
  <button matStepperNext mat-flat-button color="accent" type="submit" class="w-100"
    [disabled]="donorRecipientForm.invalid">Next</button>
</div>