:host {
  .space-container {
    padding-top: 20px;
    width: 320px;
    margin: auto;
    text-align: center;
  }

  .app-logo {
    width: 160px;
  }

  .title-head {
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #5e35b1;
  }

  .title-description {
    text-align: center;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #666666;
  }
}
