:host{
  ::ng-deep mat-tab-header{
    background-color: #5e35b1;
  }
  ::ng-deep .mat-tab-label-content{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bolder;
  }

  /* ink bar */
  ::ng-deep .mat-ink-bar {
    background-color: var(--primary-color,#FFE082) !important;
    height: 3px;
  }
}
