<p class="mt-3 mb-2 font-weight-light text-center font-weight-bold text-light-purple heading">
    Is your donation International or Domestic?
</p>

<form class="choose-flow-options" [formGroup]="originForm" (ngSubmit)="next()">
    <mat-radio-group formControlName="origin">
        <mat-card>
            <mat-radio-button value="International" color="primary">
                <span> International </span>
            </mat-radio-button>
        </mat-card>
        <mat-card>
            <mat-radio-button value="Domestic" color="primary">
                <span> Domestic </span>
            </mat-radio-button>
        </mat-card>
    </mat-radio-group>

    <button
        mat-flat-button class="w-100 my-2"
        color="accent"
        [disabled]="originForm.invalid"
        type="submit">
        Next
    </button>
</form>
