:host{
  .divider{
    border: 1px solid #989898;
    width: 1px;
    padding: 0;
    max-width: 1px;
    flex: none;
    position: relative;
  }
  .view-status{
    font-weight: 200;
    font-size: 15px;
    line-height: 18px;
  }
  .view-container-text{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #5E35B1;
  }
  .mat-dialog-container {
    padding: 0px !important;
  }
  .pickup-content-text{
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    color: #343434;
      p{
        font-weight: 500;
        font-size: 14px;
        line-height: 15px;
        letter-spacing: 1px;
        color: #989898;
      }
  }
  .text-details{
    margin-bottom: 10px;
    .text-title{
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 1px;
      color: #989898;
      text-transform: uppercase;
    }
    .text-value{
      font-size: 13px;
      line-height: 15px;
      color: #343434;
    }
  }
  .mat-row:nth-child(even){
    background-color:#F8F8F8;
  }

  .mat-row:nth-child(odd){
    background-color:#EAEDF0;
  }
  .view-action{
    float: right;
    button{
      background: #04AFD5;
      border-radius: 5px;
      color: #FFFFFF;
      padding-right: 6px;
      mat-icon{
        border-left: 1px solid #FFFFFF;
      }
    }
  }
}
