<div class="donor-review">
    <p class="text-light-purple heading mx-3"><strong>Review Information</strong></p>
    <p class="sub-heading mx-3">Please check if the information below is correct before submitting your form.</p>
    <div class="card-list">
        <mat-card class="review-modal">
            <mat-card-title class="review-modal-title">
                <p class="text-light-purple">Donor Details</p>
                <mat-icon class="gray-icon">create</mat-icon>
            </mat-card-title>
            <mat-card-content>
                <div class="donor-name">
                    <p><strong>Juan Dela Cruz</strong></p>
                </div>
                <div class="donor-org">
                    <p>SM Foundation</p>
                    <p>(Private/Non-Government)</p>
                </div>
                <div class="donor-contact">
                    <mat-icon>local_phone</mat-icon>
                    <p>(+63) 923 456 7890</p>
                </div>
                <div class="donor-location">
                    <mat-icon>place</mat-icon>
                    <p>Nagasaki, Japan</p>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="review-modal">
            <mat-card-title class="review-modal-title">
                <p class="text-light-purple">Donation Items</p>
                <mat-icon class="gray-icon">create</mat-icon>
            </mat-card-title>
            <mat-card-content>
                <mat-card class="donation-item">
                    <mat-card-title>Cash</mat-card-title>
                    <hr class="separator">
                    <mat-card-content>
                        <div class="item-group">
                            <label for="">Estimated Value</label>
                            <p>50,000.00</p>
                        </div>
                    </mat-card-content>
                </mat-card>
                <mat-card class="donation-item">
                    <mat-card-title>Water and Food</mat-card-title>
                    <hr class="separator">
                    <mat-card-content>
                        <div class="item-group">
                            <label for="">Item</label>
                            <p>Drinking Water (500 mL, 10/box)</p>
                        </div>
                        <hr class="w-100">
                        <div class="item-group">
                            <label for="">Quantity</label>
                            <p>20 bottles/boxes</p>
                        </div>
                        <hr class="w-100">
                        <div class="item-row">
                            <div class="item-group">
                                <label for="">Estimated Weight</label>
                                <p>100 Kg</p>
                            </div>
                            <div class="item-group">
                                <label for="">Estimated Value</label>
                                <p>5,000 Php</p>
                            </div>
                        </div>
                        
                    </mat-card-content>
                </mat-card>
                <div class="donation-details">
                    <strong class="my-1">Donation details</strong>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="review-modal">
            <mat-card-title class="review-modal-title">
                <p class="text-light-purple">Confirmation</p>
                <mat-icon class="gray-icon">create</mat-icon>
            </mat-card-title>
            <mat-card-content class="d-flex flex-column">
                <div class="upload-file d-flex">
                    <img src="assets/images/pdf-small.svg" alt="" srcset="">
                    <p class="filename">file_01.jpg</p>
                </div>
                <div class="upload-file d-flex">
                    <img src="assets/images/pdf-small.svg" alt="" srcset="">
                    <p class="filename">file_01.jpg</p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="terms-and-conditions">
        <mat-checkbox>By proceeding, I agree with <a href="#">FLAG Terms & Conditions</a>
        and <a href="#">Privacy Policy</a></mat-checkbox>
    </div>
    <button mat-flat-button color="accent" type="submit" class="submit-btn">Submit</button>
</div>