<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['']">
      <img src="assets/images/flag-logo.png" class="img-fluid" alt="flag-logo" fxShow="true" fxHide.lt-sm="true">
      <img src="assets/images/flag-title.png" class="img-fluid" alt="flag-title">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item">
          <a class="nav-link text-uppercase" [routerLink]="['/application']">Donor UI</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link text-uppercase" (click)="page('about')">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" (click)="page('faq')">FAQ</a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-primary" [routerLink]="'./application/choose-flow-update'">OFFER DONATION</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
